@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0c;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-luxury-gradient {
    background: linear-gradient(to right, #d4af37, #f7ef8a, #d4af37);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}